
body{
  margin-left: auto;
  margin-right: auto;
  color: #0000ff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}
header h1{
  text-align: center;
  color:#f0f8ff;

}
 nav ul{
  display:flow-root;
  list-style-type: none;
  border:none;
  padding-top: 10px;
  padding:0px ;
  margin: 0px;
  justify-content:space-evenly;
  overflow: hidden;
  padding-left: 10px;
}
nav ul li{
  
  float: right;
  line-height: 1;
  margin: 0 10px;
}

a:visited{
  color: #a52a2a;

}

button{

  padding: 10px;
  font-size: 16px;
  background-color:#0fc872;
  color: #DDDDDD;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #0fffff;
  
}

/*this are all for the footer*/
footer{
  max-width: 1770px;
  background-color:#008000 ;
  margin: auto;
}
footer section.container {
  display: flex;
  flex-wrap: wrap;
}
footer ul.footerul{
  list-style: none;
}
footer section h4{
 font-size: 18px;
 color:#000;
 position: relative;
 margin-bottom: 10px;
 margin-left: 40px;
 font-weight: 500;
 text-transform: capitalize;
 
}
footer section h4::before{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -10px;
  background-color:#0000ff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
footer section ul li a{
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  display: block;

}
footer section ul li a:hover{
color: #0000ff;
padding-left: 5%;
}
footer section ul li{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color:#000;
  font-weight: 300;
  display: block;
}
footer section ul li:hover{
  color: #08084a;
  cursor:pointer;
}
footer section ul li:visited{
  color:#6495ed;
  cursor:pointer;
}
/*this section contains the entire classes in the html file*/
.body1
{ background-image: url(grassfedlamb.png);
  background-repeat: no-repeat;
  background-position:top;
  background-attachment: fixed;
  background-size: cover;
}
.about1{
 word-spacing: 4px;

}.textcolor{
  color:#f0ffff;
  text-transform: uppercase;
  font-weight: 600;
  display: flow-root;
}
.Dairy{
  background-color: #0fc872;
  display:flow-root;
}
.align{
  text-align: center;
}
.dropdown{
  background-color: #0fc872;
  color: #DDDDDD;
  
}
/*this are all for the dropdown button*/

.dropdown a{
  display: block;
  color: #0000ff;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown .content{
  display: none;
  position: absolute;
  min-width: 100px;
}.dropdown:hover .content{
  display: block;
}
.dropdown:hover button{
  background-color: #00ffff;
}
.dropdown a:hover{
  background-color: #7fff00;
}
/*this are all for attribute without class*/

article h2{
  color: aliceblue;
}

article h2::first-letter { 
  font-size: 2em; }
section {
  display: flow-root;
}
section ul{
  color: #DDDDDD;
  font-weight: 500;
  text-transform: uppercase;
}
figure{
  
  display: flow-root;
}
figure > img{
 gap:inherit ;
 padding-right: 0em;
 border-radius: 100px;
 max-width: 100%;
}
p {
  line-height: 1;
  text-indent: 1px;
  word-spacing: 1px;
  letter-spacing: 1px;
}
/*this is for the table in about us page*/

table
{ background-color: #0fc872;
  border: 1px solid #000;
  width: 300px;
  color: #DDDDDD;
  font-weight: 400;
}
table th {
  text-align: left;
}
table ,th, td{
  border-style: groove;
  border: 1px solid #000;
  border-color: #DDDDDD;
  border-collapse: collapse;
  border-width: 3px;
}

tr:nth-child(even)
 { background-color: #f0f8ff; 
 }

/*this are for the image positioning*/

#logo1{
  float: left;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 0em;
  border: none;
  border-radius: 100px;
}
.hangingfruit{
  height: 300px;
  float: right;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-right: 0em;
  border-radius: 100px;
  max-width: 100%;
}
.plantingseed{
  height: 400px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 0em;
  border-radius: 100px;
  max-width: 100%;
}
#figure{
height: 250px;
}
.fruit{
  height: 250px;
  float: right;
  margin-left: 10px;
  margin-right: 10rem;
  margin-bottom: 20px;
  padding-right: 0em;
  border-radius: 100px;
  max-width: 100%;
}

/*this area is for the forms*/

form {
  background-image:  url(grassfedlamb.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #f0f8ff;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input::placeholder, textarea::placeholder {
  color: #0000ff;
}

textarea {
  resize: vertical;
  height: 80px;
}

textarea {
  height: 6.25em;
}

/*here, we deal with the device/screen sizes*/
@media (min-width:480px ) 
{
  body{
  
    max-width: 480px;
  }
  .body1{
  
    max-width: 480px;
  }
}

@media (min-width:768px ) 
{
  body{
  
    max-width: 768px;
  }
  .body1{
  
    max-width: 768px;
  }

}@media (min-width:1024px ) 
{
  body{
    max-width: 1024px;
  }
  .body1{
    max-width: 1024px;
  }
}

@media (max-width:1280px ) 
{
  body{
    max-width: 1280px;
  }
  .body1{
    max-width: 1280px;
  }

}@media (min-width:1440px ) 
{
  body{
  
    max-width: 1440px;
  }
  .body1{
  
    max-width: 1440px;
  }
}

@media (min-width:1536px ) 
{
  body{
    max-width: 1536px;
  }
  .body1{
    max-width: 1536px;
  }
}