
@font-face{
  src: url(fonts/Roboto-BlackItalic.ttf);
  font-family: Roboto-BlackItalic;
}@media (max-width: 768){}
header h1{
  font-size: 500;
  text-align: center;
  color: #0fc872;
 
}
nav{
  display:flow-root;
  list-style-type: none;
  border:none;
  padding:0px ;
  margin: 0px;
  display:flex;
  justify-content:space-evenly;
  overflow: hidden;
  padding-left: 10px;

}
button{
  padding: 10px;
  font-size: 16px;
  background-color: #0fc872; 
  color: #DDDDDD;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*this are all for the footer*/
footer{
  max-width: 1770px;
  background-color:green ;
  margin: auto;
}
footer span.container {
  display: flex;
  flex-wrap: wrap;
}
footer ul.footerul{
  list-style: none;
}
footer section h4{
 font-size: 18px;
 color:#000;
 position: relative;
 margin-bottom: 10px;
 margin-left: 35px;
 font-weight: 500;
 text-transform: capitalize;
 
}
footer section h4::before{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -10px;
  background-color:#0000ff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
footer section ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  display: block;

}
footer section ul li a:hover{
color: #0000ff;
padding-left: 5%;
}
footer section ul li{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color:#000;
  font-weight: 300;
  display: block;
}
footer section ul li:hover{
  color: #08084a;
  padding-left: 10px;
}
/*this are all for the dropdown button*/
.dropdown button{
  background-color: #0fc872;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.dropdown .dropdown-content{
  list-style:none ;
  display: none;
  position:sticky;
  min-width: 10px;
  

}
.dropdown:hover .dropdown-content{
  display:block;
  position: 10px; ; 
  padding-left: 10px;
}
.dropdown:hover button{
  background-color:blue;
}
.dropdown a:hover{
  background-color: aqua;
  display: block;
}/*this section are all classes*/
.about1{
 word-spacing: 4px;
 
}
.Dairy{
  background-color: #0fc872;
  display:flow-root;

}
/*this class sign up is for h4 text in sign up page*/
.align{
  text-align: center;
}
article{
  display: flow-root;
}
aside{
display:flow-root ;
}
section{
display: flow-root;
}

#logo1{
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 0em;
  border: none;
  border-radius: 100px;
}
#hangingfruit{
  float: right;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-left: 0em;
  border-radius: 100px;
}
#plantingseed{
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 0em;
  border-radius: 100px;
}
form{
  border-style: groove;
  border-color: #0000ff;
  text-align: center;
  padding: 5px;
  background-color: white;
  color: #000;
}